<div class="panel_signup">
  <div class="container">
    <div class="separator_top"/>&nbsp;</div><p/>
    <div class="show_story">
<%= render :partial => 'sres', :locals => { :sres => @story } %>
    </div>
</div>
</div>
